body.modal-is-active {
	overflow: hidden;
}

.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.no-js img.lazyload {
	display: none;
}

.steps__counter {
	color: var(--primary);
	font-size: var(--text-4xl);
	height: var(--spacing--20);
	width: var(--spacing-20);
	line-height: calc(var(--spacing-20) - var(--spacing-2));
	border: var(--spacing-1) solid var(--primary);
	border-radius: var(--radius-full);
}

.card__quote {
	margin-top: calc(var(--card-spacing) / 3);
}

.partners {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: -2rem;
}

.partners > * {
	margin-right: 2rem;
}

.partner__img {
	height: 2.5rem;
}

@media (min-width: 375px) {
	.partner__img {
		height: 3rem;
	}
}

@media (min-width: 480px) {
	.partners > * {
		margin-right: 3rem;
	}
}

@media (min-width: 768px) {
	.steps__counter {
		font-size: var(--text-5xl);
		height: var(--spacing-24);
		width: var(--spacing-24);
		line-height: calc(var(--spacing-24) - var(--spacing-2));
	}

	.partner__img {
		height: 4rem;
	}
}

@media (min-width: 1024px) {
}

.modal,
.modal::before {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.modal {
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 999;
}

.modal::before,
.modal .modal-inner {
	display: none;
}

.modal::before {
	content: '';
	position: absolute;
	background-color: rgba(22, 23, 27, 0.88);
}

.modal.is-active {
	display: flex;
}

.modal.is-active::before,
.modal.is-active .modal-inner {
	display: block;
}

.modal.is-active .modal-inner {
	-webkit-animation: slideUpInModal 0.15s ease-in-out both;
	animation: slideUpInModal 0.15s ease-in-out both;
}

.modal.is-active::before {
	-webkit-animation: slideUpInModalBg 0.15s ease-in-out both;
	animation: slideUpInModalBg 0.15s ease-in-out both;
}

.modal-inner {
	max-height: calc(100vh - var(--spacing-4) * 2);
	overflow: auto;
	position: relative;
	width: calc(100% - (var(--spacing-4) * 2));
	max-width: 480px;
	margin-left: var(--spacing-4);
	margin-right: var(--spacing-4);
	background: var(--bg);
	padding: var(--spacing-6);
	border-radius: var(--radius-sm);
}

.modal-content {
	padding: 24px 16px;
	text-align: start;
}

.modal-content h1:not(:first-child),
.modal-content h2:not(:first-child),
.modal-content h3:not(:first-child) {
	margin-top: var(--spacing-4);
}

.modal-content p {
	margin-top: var(--spacing-2);
}

.modal-close {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
	position: absolute;
	right: 24px;
	top: 24px;
	width: 16px;
	height: 16px;
}

.modal-close::before,
.modal-close::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -8px;
	width: 16px;
	height: 2px;
	background: #6a6f82;
}

.modal-close::before {
	transform: rotate(225deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
	background: #959cb1;
}

@media (min-width: 641px) {
	.modal-inner {
		margin: 0 auto;
		max-height: calc(100vh - 48px * 2);
	}

	.modal-content {
		padding: 48px 32px;
	}
}

@-webkit-keyframes slideUpInModal {
	0% {
		opacity: 0;
		transform: translateY(-24px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUpInModal {
	0% {
		opacity: 0;
		transform: translateY(-24px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes slideUpInModalBg {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUpInModalBg {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
