---
title: Power Hour
hero:
  title: Your website is your business's first impression
  subtitle: Let's make it count.
  cta:
    title: BOOK YOUR POWER HOUR
    url: power#booking
layout: layouts/page.njk
---

{% import 'macros/blocks.njk' as blocks %}

{% call blocks.featuresBlock('We can help you...', 'POWER HOUR', '… or anything else that can help you grow your online business and get your customers what they need.') %}
  {% call blocks.featuresItem('', '/static/paint.svg') %}
    <strong>Build landing pages</strong> to launch upcoming products and start building email subscriptions
  {% endcall %}
  {% call blocks.featuresItem('', '/static/devices.svg') %}
    <strong>Optimize performance and responsive design</strong> to make sure everyone enjoys your site no matter how they view it
  {% endcall %}
  {% call blocks.featuresItem('', '/static/credit-card.svg') %}
    <strong>Accept payments online</strong> so you can get online quickly and start growing your sales
  {% endcall %}
  {% call blocks.featuresItem('', '/static/calendar.svg') %}
    <strong>Simplify + automate your shopping process</strong> to improve conversion rates and abandoned cart losses
  {% endcall %}
  {% call blocks.featuresItem('', '/static/pencil.svg') %}
    <strong>Start a blog</strong> to drive organic traffic through search and social media sharing
  {% endcall %}
  {% call blocks.featuresItem('', '/static/stars.svg') %}
    <strong>Polish your current site</strong> so you stand out from the crowd and grow sales quickly
  {% endcall %}
{% endcall %}

{% call blocks.imageBlock('Book a Power Hour..', '', { src: '/uploads/blocks/tony.jpg', alt: 'Tony' }, { href: '#booking', text: 'BOOK YOUR CALL' }, true) %}
<p><strong>Know what you need?</strong> We can use it as a problem-solving + implementation workshop.</p>
<p><strong>Have more general questions or not sure what to do next?</strong> No worries, let's have a chat and see what we can do - ask us anything!</p>

<ul>
<li>
    <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
    All the moving parts you need to consider when starting an online business
</li>
<li>
    <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
    Common scalability + performance pitfalls and how you can set your business up for success now
</li>
<li>
    <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
    Our personal recommendations for platforms, tools, and services (paid and free)
</li>
<li>
    <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
    What the pandemic and economic uncertainty means for your business, and the pivots you can take to weather the storm and build a more antifragile approach
</li>
</ul>
{% endcall %}

{{ blocks.bookingBlock() }}
