{% macro imageBlock(title, subtitle, image, cta, flipped = false) %}
<div class='uiblock{% if flipped %} uiblock--flip{% endif %}'>
  {% if image %}
  <div class='uiblock__image'>
    <img src='{{ image.src }}' alt='{{ image.alt }}' />
  </div>
  {% endif %}

  <div class='uiblock__body'>
    <div class='uiblock__content'>
      {% if subtitle %}
      <h4 class='uiblock__subtitle'>{{ subtitle }}</h4>
      {% endif %}

      {% if title %}
      <h3 class='uiblock__title'>{{ title }}</h3>
      {% endif %}

      {{ caller() }}

      {% if cta %}
      <a class='btn btn--primary uiblock__cta' href='{{ cta.href | url }}'>
        {{ cta.text }}
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro featuresBlock(title, subtitle, footer) %}
<div class='uiblock'>
  <div class='features'>
    {% if title %}
    <div class='features__header'>
      <h4 class='features__subtitle'>POWER HOUR</h4>
      <h3 class='features__title'>{{ title }}</h3>
    </div>
    {% endif %}

    {{ caller() }}

    {% if footer %}
    <div class='features__footer'>
      {{ footer }}
    </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro featuresItem(title, icon) %}
<div class='features__item'>
  {% if icon %}
  <div class='feature__image'>
    {{ icon | svgContents | safe }}
  </div>
  {% endif %}

  {% if title %}
  <h5 class='feature__title'>{{ title }}</h5>
  {% endif %}

  <div class='feature__content'>
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro pricingBlock(title) %}
<div class='uiblock'>
  <div class='pricing'>
    {% if title %}
    <div class='pricing__header'>
      <h4 class='pricing__title'>{{ title }}</h4>
    </div>
    {% endif %}

    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro pricingItem(title, pricing, cta, highlighted = false) %}
<div class='pricing__item{% if highlighted %} pricing__item--highlighted{% endif %}'>
  {% if title %}
  <div class='pricing__itemheader'>
    <h5>{{ title }}</h5>
  </div>
  {% endif %}

  <ul class='pricing__features'>
    {{ caller() }}
  </ul>
  
  {% if pricing %}
  <h6 class='pricing__price'>{{ pricing }}</h6>
  {% endif %}

  {% if cta %}
  <a class='pricing__cta btn {% if highlighted %}btn--primary{% else %}btn--hollow{% endif %}' href='{{ cta.href | url }}'>{{ cta.text }}</a>
  {% endif %}
</div>
{% endmacro %}

{% macro pricingItemFeature(icon, excluded = false) %}
<li class='pricing__feature{% if excluded %} pricing__feature--excluded{% endif %}'>
  <span>{{ icon | svgContents('uiblock__itemicon') | safe }}</span>
  {{ caller() }}
</li>
{% endmacro %}

{% macro bookingBlock() %}
<div id='booking' class='booking'>
  <h3 class='booking__title'>Schedule your Power Hour below.</h3>
  <p>If you have any questions, send us an email at: {{ site.email }}</p>

  <iframe src="https://app.acuityscheduling.com/schedule.php?owner=20050103" title="Schedule Appointment" width="100%" height="800" frameBorder="0"></iframe><script src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>
</div>
{% endmacro %}