<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/favicon.ico">
        {% seo "" %}

        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="crossorigin">

        {% set css %}
        {% include "assets/css/normalize.css" %}
        {% include "assets/css/fonts.css" %}
        {% include "assets/css/main.css" %}
        {% endset %}
        <style>
            {{css | cssmin | safe}}
        </style>

        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "{{ site.name }}",
                "url": "{{ site.url }}",
                "description": "",
                "image": "{{ site.images.social | url }}"
            }
        </script>
    </head>
    <body class="no-js">
        <script>
            document
                .body
                .classList
                .remove("no-js")
        </script>

        {% include "partials/header.njk" %}

        <main>
            {{ content | safe }}
        </main>

        {% set js %}
        {% include "assets/js/lazysizes.min.js" %}
        {% include "assets/js/main.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>
    </body>
</html>