<div class='hero'>
    <div class='uiblock hero__wrapper'>
        <div class='hero__content'>
            <h1 class='hero__title'>{{ hero.title }}</h1>
            <h2 class='hero__subtitle'>{{ hero.subtitle }}</h2>
            {% if hero.cta %}
            <a class='btn btn--primary hero__cta' href='{{ hero.cta.url | url }}'>{{ hero.cta.title }}</a>
            {% endif %}
        </div>
    </div>
</div>