@import url(normalize.css);

:root {
	font-size: 14px;
	scroll-behavior: smooth;

	--fg: #000000;
	--fg-alt: #ffffff;
	--bg: #ffffff;
	--bg-alt: #eceef1;
	--bg-alt-900: #1b2126;
	--primary: #003d73;
	--secondary: #028192;
	--green: #51a749;

	--border-sm: 1px;
	--border-lg: 3px;

	--radius-sm: 0.5rem;
	--radius-full: 9999px;

	--font-content: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--leading-header: 1.25;
	--leading-normal: 1.5;
	--leading-lg: 1.75;
	--leading-xl: 2;

	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-lg: 1.25rem;
	--text-xl: 1.375rem;
	--text-2xl: 1.5rem;
	--text-3xl: 1.875rem;
	--text-4xl: 2.25rem;
	--text-5xl: 4rem;

	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.875rem;
	--spacing-4: 1rem;
	--spacing-6: 1.5rem;
	--spacing-7: 1.75rem;
	--spacing-8: 2rem;
	--spacing-10: 2.5rem;
	--spacing-12: 3rem;
	--spacing-16: 4rem;
	--spacing-20: 5rem;
	--spacing-24: 6rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: var(--font-content);
	line-height: var(--leading-normal);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

svg {
	max-height: 100%;
}

picture {
	display: flex;
	justify-content: center;
}

h1,
h2,
h3 {
	line-height: var(--leading-header);
	font-weight: bold;
}

h1 {
	font-size: var(--text-3xl);
}

h2 {
	font-size: var(--text-2xl);
}

h3 {
	font-size: var(--text-xl);
}

h4 {
	font-size: var(--text-lg);
	font-weight: normal;
}

p + p {
	margin-top: var(--spacing-3);
}

a {
	color: inherit;
}

q {
	font-style: italic;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 35rem;
	margin: 0 auto;
}

form label {
	display: block;
	font-size: var(--text-sm);
	margin-bottom: var(--spacing-1);
	text-align: start;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.strikethrough {
	position: relative;
}

.strikethrough:after {
	content: '';
	position: absolute;
	width: calc(100% + 1rem);
	height: 4px;
	top: calc(50% - 2px);
	right: -0.5rem;
	background: var(--green);
	border-radius: 2px;
	transform: rotate(-30deg);
}

:focus {
	outline-color: var(--secondary);
}

.btn {
	border: var(--border-lg) solid transparent;
	display: inline-block;
	padding: var(--spacing-4) var(--spacing-8);
	text-decoration: none;
	font-size: var(--text-lg);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: var(--fg);
	background: transparent;
	border-radius: var(--radius-sm);
}

.btn.btn--primary {
	color: var(--fg-alt);
	background: var(--primary);
}

.btn.btn--hollow {
	border-color: var(--primary);
	color: var(--primary);
}

.btn.btn--sm {
	font-size: var(--text-base);
	padding: var(--spacing-2) var(--spacing-6);
}

.link {
	text-decoration: underline;
	background: transparent;
	border: none;
	font-size: var(--text-base);
	line-height: var(--leading-xl);
	font-weight: bold;
	color: var(--secondary);
	white-space: nowrap;
}

.link--sm {
	font-size: var(--text-sm);
}

.link--alt {
	color: var(--bg);
}

.link:after {
	content: '›';
	pointer-events: none;
	display: inline-block;
	margin-left: var(--spacing-1);
	text-decoration: none;
}

.section {
	padding: 0 var(--spacing-4);
}

.section.section--alt {
	padding: var(--spacing-24) var(--spacing-4);
	background: var(--bg-alt);
}

.block {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'graphic' 'summary' 'details';
	gap: var(--spacing-6);
	align-items: center;
	text-align: center;
}

.block.block--col-reverse {
	grid-template-areas: 'summary' 'graphic' 'details';
}

.block__graphic {
	grid-area: graphic;
}

.block__summary {
	grid-area: summary;
	display: flex;
	flex-direction: column;
	max-width: 50rem;
	margin: 0 auto;
	row-gap: var(--spacing-3);
}

.block__details {
	grid-area: details;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-6);
}

.block__image {
	width: 100%;
	max-width: 35rem;
	max-height: 25rem;
	margin: 0 auto;
	object-fit: contain;
}

.block__image.block__image--sm {
	max-width: 10rem;
	max-height: 10rem;
}

.hero {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 var(--spacing-4);
	text-align: center;
	row-gap: var(--spacing-6);
}

.hero h1 {
	margin-bottom: var(--spacing-10);
}

.hero p {
	font-size: var(--text-lg);
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	--card-spacing: var(--spacing-6);
	row-gap: var(--spacing-8);
	column-gap: var(--spacing-8);
}

.card {
	max-width: 25rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--bg);
	padding: var(--spacing-8);
	border-radius: var(--radius-sm);
}

.card.card--sm {
	max-width: 15rem;
	min-height: 15rem;
	justify-content: center;
}

.card__title {
	margin-top: var(--card-spacing);
	line-height: var(--leading-normal);
}

.card__subtitle {
	font-size: var(--text-base);
	font-weight: bold;
	opacity: 0.67;
	line-height: var(--leading-normal);
}

.card .link {
	margin-top: var(--card-spacing);
}

.card__icon {
	height: 3rem;
}

.card__img {
	max-width: 67%;
	width: 17rem;
	object-fit: contain;
}

.card__img.card__img--round {
	border-radius: var(--radius-full);
}

.card p {
	margin-top: var(--card-spacing);
}

.partners {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.partner__logo {
	height: 2.5rem;
}

@media (min-width: 375px) {
	:root {
		font-size: 16px;
	}

	.cards {
		--card-spacing: var(--spacing-8);
	}

	.card.card--sm {
		max-width: 18rem;
		min-height: 18rem;
	}

	.partner__logo {
		height: 3rem;
	}
}

@media (min-width: 480px) {
	.block__image.block__image--sm {
		max-width: 12.5rem;
		max-height: 12.5rem;
	}

	.hero {
		padding: 0 var(--spacing-8);
	}

	.partners {
		gap: 3rem;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: var(--text-5xl);
	}

	h2 {
		font-size: var(--text-3xl);
	}

	h3 {
		font-size: var(--text-2xl);
	}

	h4 {
		font-size: var(--text-xl);
	}

	.block__image.block__image--sm {
		max-width: 15rem;
		max-height: 15rem;
	}

	.card {
		padding: var(--spacing-16);
	}

	.card.card--sm {
		max-width: 20rem;
		min-height: 20rem;
	}

	.card__title {
		font-size: var(--text-xl);
	}

	.card__subtitle {
		font-size: var(--text-base);
	}

	.card__icon {
		height: 4rem;
	}

	.partner__logo {
		height: 4rem;
	}
}

@media (min-width: 1024px) {
	:root {
		font-size: 18px;
	}

	.section {
		padding: 0 var(--spacing-20);
	}

	.section.section--alt {
		padding: var(--spacing-24) var(--spacing-20);
	}

	.block,
	.block.block--col-reverse {
		gap: var(--spacing-20);
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 'graphic summary' 'details details';
	}

	.block.block--row-reverse {
		grid-template-areas: 'summary graphic' 'details details';
	}

	.block__summary {
		grid-column: 1 / 3;
	}

	.block__graphic + .block__summary {
		grid-column: unset;
		text-align: start;
	}

	.block__details {
		gap: var(--spacing-20);
	}

	.block__image {
		margin: 0;
	}

	.cards {
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
	}

	.card {
		flex: 1;
		padding: var(--spacing-16) var(--spacing-12);
	}

	.card.card--sm {
		max-width: 100%;
		min-height: 0;
		justify-content: unset;
	}
}

@media (min-width: 1440px) {
	.cards {
		column-gap: var(--spacing-16);
	}
}
