:root {
  font-size: 14px;

  --fg: #000000;
  --fg-alt: #ffffff;
  --bg: #ffffff;
  --bg-alt: #eceef1;
  --bg-alt-900: #1b2126;
  --primary: #003d73;
  --secondary: #028192;

  --border-sm: 1px;
  --border-lg: 3px;

  --radius-sm: 0.5rem;
  --radius-full: 9999px;

  --font-content: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --leading-header: 1.25;
  --leading-normal: 1.5;
  --leading-lg: 1.75;
  --leading-xl: 2;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.375rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 4rem;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.875rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--font-content);
  line-height: var(--leading-normal);
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body.off-nav-is-active {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body.modal-is-active {
  overflow: hidden;
}

main {
  flex: 1 0 0px;
}

svg {
  fill: currentColor;
}

h1,
h2,
h3 {
  line-height: var(--leading-header);
  font-weight: bold;
}

h1 {
  font-size: clamp(1.875rem, 7vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 6vw, 1.875rem);
}

h3 {
  font-size: clamp(1.375rem, 5vw, 1.5rem);
}

h4 {
  font-size: clamp(1.25rem, 4vw, 1.375rem);
  font-weight: normal;
}

a {
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
}

form label {
  display: block;
  font-size: var(--text-sm);
  margin-bottom: var(--spacing-1);
  text-align: start;
}

input[type='text'],
textarea {
  width: 100%;
  font-size: var(--text-base);
  padding: var(--spacing-3);
  background: var(--bg-alt);
  border: none;
  border-radius: var(--radius-sm);
  margin-bottom: var(--spacing-8);
}

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: var(--border-lg) solid var(--primary);
  height: 1em;
  width: 1em;
  border-radius: var(--radius-full);
  background: var(--bg);
  cursor: pointer;
  margin-top: -0.25em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  border: var(--border-lg) solid var(--primary);
  height: 1em;
  width: 1em;
  border-radius: var(--radius-full);
  background: var(--bg);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  border: var(--border-lg) solid var(--primary);
  height: 1em;
  width: 1em;
  border-radius: var(--radius-full);
  background: var(--bg);
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  background: var(--bg-alt);
  border-radius: 0.25em;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: var(--bg-alt);
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  background: var(--bg-alt);
  border-radius: 0.25em;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 0.5em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1em 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: var(--primary);
}
input[type='range']:focus::-ms-fill-lower {
  background: var(--bg-alt);
}
input[type='range']::-ms-fill-upper {
  background: var(--bg-alt);
}
input[type='range']:focus::-ms-fill-upper {
  background: var(--primary);
}

th:first-child {
  text-align: start;
}

th:last-child {
  text-align: end;
}

.pricing__comparison {
  margin: 0 auto;
  width: 100%;
  max-width: 448px;
}

.pricing__comparison th[colspan='2'] {
  padding-bottom: var(--spacing-6);
}

.pricing__logo {
  height: 1.25rem;
  vertical-align: middle;
  margin: var(--spacing-2) 0;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80vw;
  margin: 0 auto;
}

.slider__value {
  background: var(--primary);
  display: inline-block;
  color: var(--fg-alt);
  font-weight: bold;
  font-size: var(--text-sm);
  padding: var(--spacing-1) var(--spacing-3);
  border-radius: var(--radius-sm);
  position: relative;
  margin-bottom: 1rem;
}

.slider__value:after {
  content: '';
  position: absolute;
  border-top: 0.5rem solid var(--primary);
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__input {
  flex: 1 0 0px;
}

form .honeypot {
  display: none;
}

button[type='submit'] {
  align-self: flex-start;
}

:focus {
  outline-color: var(--secondary);
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.no-js img.lazyload {
  display: none;
}

.btn {
  border: var(--border-lg) solid transparent;
  display: inline-block;
  padding: var(--spacing-4) var(--spacing-8);
  text-decoration: none;
  font-size: var(--text-lg);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--fg);
  background: transparent;
  border-radius: var(--radius-sm);
}
.btn--primary {
  color: var(--fg-alt);
  background: var(--primary);
}
.btn--hollow {
  border-color: var(--primary);
  color: var(--primary);
}
.btn--small {
  font-size: var(--text-base);
  padding: var(--spacing-2) var(--spacing-6);
}

.link {
  background: transparent;
  border: none;
  font-size: var(--text-base);
  line-height: var(--leading-xl);
  font-weight: bold;
  color: var(--secondary);
}

.container {
  padding: var(--spacing-24) 0 0;
  display: flex;
  flex-direction: column;
}

.container > *:not(:last-child) {
  margin-bottom: var(--spacing-24);
}

section {
  width: 100%;
  padding: 0 clamp(var(--spacing-4), 4vw, var(--spacing-20));
}
section.alt {
  background: var(--bg-alt);
  padding: var(--spacing-20) var(--spacing-4);
  padding: var(--spacing-20) clamp(var(--spacing-4), 4vw, var(--spacing-20));
}
section:last-of-type {
  padding-bottom: var(--spacing-20);
}

.block {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'content';
  gap: clamp(var(--spacing-6), 6vw, var(--spacing-20));
  align-items: center;
  text-align: center;
}
.block--img-right,
.block--img-left {
  grid-template-columns: 1fr;
  grid-template-areas:
    'image'
    'content';
}

.block__img {
  grid-area: image;
  width: 100%;
  max-width: 35rem;
  max-height: 35rem;
  margin: 0 auto;
  object-fit: contain;
}

.block__img > *:not(:last-child) {
  margin-bottom: clamp(var(--spacing-4), 3vw, var(--spacing-8));
}

.block__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.block__content > *:not(:last-child) {
  margin-bottom: var(--spacing-3);
}

.block__link {
  text-decoration: none;
}

.block__link::after {
  content: '›';
  pointer-events: none;
  display: inline-block;
  margin-left: var(--spacing-1);
  text-decoration: none;
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--spacing-4);
}

.header__nav > .header__middle {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav > * {
  display: flex;
  align-items: center;
}

.header__left,
.header__right {
  width: 100%;
  flex: 0 1 auto;
}

.header__left {
  justify-content: flex-start;
}

.header__right {
  justify-content: flex-end;
}

.header__logo {
  height: 1.25rem;
  color: var(--primary);
  display: block;
}

.header__navlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--text-2xl);
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__navlink {
  display: inline-block;
  white-space: nowrap;
  color: var(--fg);
  text-decoration: none;
  padding: var(--spacing-2);
  text-transform: capitalize;
}

.header__signup {
  display: none;
}

.header__sidenav {
  height: calc(100% - 3.5rem);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  padding: var(--spacing-8) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  opacity: 0;
  transform: translate3d(0, var(--spacing-8), 0);
  transition: opacity ease-in-out 300ms, transform ease-in-out 300ms;
  pointer-events: none;
  will-change: opacity, transform;
}

.header__sidenav--open {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: auto;
}

.footer {
  background-color: var(--bg-alt-900);
  color: var(--bg-alt);
  font-size: var(--text-sm);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-12) 0;
  opacity: 0.5;
}

.footer__logo {
  height: 2rem;
  margin-bottom: 2rem;
}

.footer__links {
  margin-top: var(--spacing-2);
}

.footer__link:not(:last-child) {
  margin-right: var(--spacing-2);
  padding-right: var(--spacing-2);
  border-right: var(--border-sm) var(--bg-alt) solid;
}

.hero {
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 clamp(var(--spacing-4), 3.5vw, var(--spacing-8));
  text-align: center;
}

.hero > *:not(:last-child) {
  margin-bottom: var(--spacing-12);
}

.hero__subtitle {
  font-size: var(--text-lg);
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features > *:not(:last-child) {
  margin-bottom: var(--spacing-8);
}

.features__item {
  width: 100%;
  max-width: clamp(15rem, 6vw, 20rem);
  height: clamp(15rem, 6vw, 20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  padding: clamp(var(--spacing-8), 7vw, var(--spacing-16)) var(--spacing-8);
  border-radius: var(--radius-sm);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.features__item > *:not(:last-child) {
  margin-bottom: clamp(var(--spacing-6), 8vw, var(--spacing-8));
}

.feature__icon {
  height: clamp(3rem, 8vw, 4rem);
  color: var(--primary);
}

.feature__title {
  font-size: clamp(1.25rem, 4vw, 1.375rem);
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps > *:not(:last-child) {
  margin-bottom: var(--spacing-8);
}

.steps__item {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg);
  padding: var(--spacing-8);
  border-radius: var(--radius-sm);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.steps__item > *:not(:last-child) {
  margin-bottom: clamp(var(--spacing-6), 8vw, var(--spacing-8));
}

.steps__counter {
  color: var(--primary);
  font-size: clamp(var(--text-4xl), 7vw, var(--text-5xl));
  height: clamp(var(--spacing-20), 15vw, var(--spacing-24));
  width: clamp(var(--spacing-20), 15vw, var(--spacing-24));
  line-height: clamp(
    calc(var(--spacing-20) - var(--spacing-2)),
    13.5vw,
    calc(var(--spacing-24) - var(--spacing-2))
  );
  border: var(--spacing-1) solid var(--primary);
  border-radius: var(--radius-full);
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing > *:not(:last-child) {
  margin-bottom: var(--spacing-20);
}

.pricing__plan {
  width: 100%;
  max-width: 480px;
  flex: 1 1 0px;
  background: var(--bg);
  position: relative;
  border-radius: var(--radius-sm);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: var(--spacing-8) var(--spacing-6);
}
.pricing__plan.pricing__plan--highlighted {
  border: var(--border-lg) solid var(--primary);
}
.pricing__plan--highlighted:before {
  content: 'MOST POPULAR';
  position: absolute;
  top: -0.125rem;
  left: 50%;
  font-size: var(--text-sm);
  font-weight: bold;
  background-color: var(--primary);
  color: var(--fg-alt);
  border-radius: var(--radius-full);
  padding: var(--spacing-1) var(--spacing-4);
  transform: translate3d(-50%, -50%, 0);
}

.plan__title {
  line-height: var(--leading-xl);
  color: var(--primary);
  text-transform: uppercase;
}

.plan__price {
  font-size: var(--text-base);
  line-height: var(--leading-header);
}

.plan__price strong {
  font-size: var(--text-4xl);
  font-weight: bold;
  color: var(--primary);
}

.plan__price em {
  font-style: normal;
  font-size: var(--text-sm);
  opacity: 0.6;
}

.pricing__plan hr {
  margin: var(--spacing-6) 0;
}

.plan__features {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: var(--text-base);
  list-style: none;
  margin-bottom: var(--spacing-6);
}

.plan__features > *:not(:last-child) {
  margin-bottom: var(--spacing-2);
}

.plan__feature {
  margin-left: var(--spacing-7);
  position: relative;
}

.plan__feature:before {
  content: ' ';
  width: 1em;
  height: 0.5em;
  top: 0.5em;
  transform: rotate(-45deg);
  border-style: solid;
  border-width: 0 0 0.125em 0.125em;
  color: #6aba63;
  position: absolute;
  display: inline-block;
  margin-left: -1.75em;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: inline-block;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
  padding: 0.5rem;
  margin: -0.5rem;
  line-height: 0.75rem;
  overflow: visible;
  transition: opacity linear 150ms;
  will-change: opacity;
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 0.75;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--fg);
}

.hamburger-box {
  height: calc(1rem + 4px);
  width: 2rem;
  position: relative;
  display: inline-block;
}

.hamburger-inner {
  top: 50%;
  margin-top: -2px;
  display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  transition-timing-function: ease;
  height: 2px;
  width: 2rem;
  background-color: var(--fg);
  position: absolute;
  border-radius: var(--radius-full);
  transition: transform ease-in-out 150ms;
  will-change: transform;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -0.5rem;
}

.hamburger-inner::after {
  bottom: -0.5rem;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 375px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 480px) {
  .form__row {
    flex-direction: row;
  }

  .form__row > *:not(:last-child) {
    margin-right: var(--spacing-2);
  }
}

@media (min-width: 1024px) {
  .header {
    padding: var(--spacing-7) var(--spacing-20);
  }

  .header__nav > .header__middle {
    display: block;
  }

  .header__navlist {
    flex-direction: row;
    justify-content: initial;
    align-items: initial;
    font-size: var(--text-base);
  }

  .header__navlist > *:not(:last-child) {
    margin-right: var(--spacing-8);
  }

  .header__navlink {
    padding: 0;
  }

  .hamburger.header__hamburger,
  .header__sidenav {
    display: none;
  }

  .header__signup {
    display: initial;
  }

  .block--img-right,
  .block--img-left,
  .block--img-right .block__link,
  .block--img-left .block__link {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }
  .block--img-right {
    grid-template-areas: 'content image';
  }
  .block--img-left {
    grid-template-areas: 'image content';
  }

  .block__img {
    margin: 0;
  }

  .pricing__comparison {
    margin: 0;
  }

  .features {
    flex-direction: row;
    align-items: stretch;
  }

  .features > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: var(--spacing-20);
  }

  .steps {
    flex-direction: row;
    align-items: stretch;
  }

  .steps > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: var(--spacing-20);
  }

  .steps__item {
    flex: 1;
    padding: var(--spacing-16) clamp(var(--spacing-8), 8vw, var(--spacing-16));
  }

  .pricing {
    flex-direction: row;
  }

  .pricing > *:not(:last-child) {
    margin: 0;
  }

  .pricing__plan.pricing__plan--highlighted {
    transform: scale(1.05);
    z-index: 1;
  }
}

.modal,
.modal::before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal::before,
.modal .modal-inner {
  display: none;
}

.modal::before {
  content: '';
  position: absolute;
  background-color: rgba(22, 23, 27, 0.88);
}

.modal.is-active {
  display: flex;
}

.modal.is-active::before,
.modal.is-active .modal-inner {
  display: block;
}

.modal.is-active .modal-inner {
  -webkit-animation: slideUpInModal 0.15s ease-in-out both;
  animation: slideUpInModal 0.15s ease-in-out both;
}

.modal.is-active::before {
  -webkit-animation: slideUpInModalBg 0.15s ease-in-out both;
  animation: slideUpInModalBg 0.15s ease-in-out both;
}

.modal-inner {
  max-height: calc(100vh - var(--spacing-4) * 2);
  overflow: auto;
  position: relative;
  width: calc(100% - (var(--spacing-4) * 2));
  max-width: 480px;
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
  background: var(--bg);
  padding: var(--spacing-6);
  border-radius: var(--radius-sm);
}

.modal-content {
  padding: 48px 16px;
  text-align: start;
}

.modal-content h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: var(--spacing-4);
}

.modal-content p:not(:last-child) {
  margin-top: var(--spacing-2);
}

.modal-close {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 16px;
  height: 16px;
}

.modal-close::before,
.modal-close::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -8px;
  width: 16px;
  height: 2px;
  background: #6a6f82;
}

.modal-close::before {
  transform: rotate(225deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background: #959cb1;
}

@media (min-width: 641px) {
  .modal-inner {
    margin: 0 auto;
    max-height: calc(100vh - 48px * 2);
  }

  .modal-content {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@-webkit-keyframes slideUpInModal {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpInModal {
  0% {
    opacity: 0;
    transform: translateY(-24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUpInModalBg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUpInModalBg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
