---
title: Contact
permalink: /contact/
layout_script: assets/js/contact.js
---

{% extends "layouts/base.njk" %}

{% block content %}
    <article class="container">
        <section>
            <div class="block">
                <div class="block__content">
                    <h2 class="block__title">Send us an email.</h2>
                    <p class="block__content">
                        <span>Just fill out the form below or email us here:
                            <a class="link" href="mailto:{{ site.email }}">{{ site.email }}</a>
                        </span>
                    </p>
                </div>
                <form name="contact" method="POST" action="/contact/?success" netlify-honeypot="bot-field" data-netlify="true">
                    <p class="honeypot">
                        <label>Don’t fill this out if you're human:
                            <input name="bot-field"/>
                        </label>
                    </p>
                    <div class="form__row">
                        <div class="form__input">
                            <label for="name">Your Name *</label>
                            <input id="name" name="name" type="text" required="required">
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__input">
                            <label for="email">Your Email Address *</label>
                            <input id="email" name="email" type="text" required="required">
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__input">
                            <label for="message">Your Message *</label>
                            <textarea id="message" name="message" rows="6" required="required"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn--primary">Submit</div>
                </form>
            </div>
        </section>
    </article>

    <div id="modal-01" class="modal">
        <div class="modal-inner">
            <button class="modal-close modal-close-trigger" aria-label="close"></button>
            <div class="modal-content">
                <h2>Thank You!</h2>
                <p>Your message has been sent, and we will be in touch soon.</p>
            </div>
        </div>
    </div>
{% endblock %}