---
title: Home
layout: layouts/base.njk
permalink: /
---

{% macro blockImage(src, title) %}
    <picture>
        <source media="(min-width: 592px)" type="image/webp" data-srcset="{{ src | imgSrc(560, false, true) }}, {{ src | imgSrc(1120, false, true) }} 2x">
        <source media="(min-width: 592px)" type="image/png" data-srcset="{{ src | imgSrc(560) }}, {{ src | imgSrc(1120) }} 2x">
        <source media="(min-width: 374px)" type="image/webp" data-srcset="{{ src | imgSrc(447, false, true) }}, {{ src | imgSrc(894, false, true) }} 2x">
        <source media="(min-width: 374px)" type="image/png" data-srcset="{{ src | imgSrc(447) }}, {{ src | imgSrc(894) }} 2x">
        <source type="image/webp" data-srcset="{{ src | imgSrc(342, false, true) }}, {{ src | imgSrc(684, false, true) }} 2x">
        <source type="image/png" data-srcset="{{ src | imgSrc(342) }}, {{ src | imgSrc(684) }} 2x">
        <noscript>
            <img class="block__img" srcset="{{ src | imgSrc(342) }}, {{ src | imgSrc(684) }} 2x" alt="{{ title }}"/>
        </noscript>
        <img class="block__img lazyload blur-up" data-srcset="{{ src | imgSrc(342) }}, {{ src | imgSrc(684) }} 2x" src="{{ src | lqip(64) }}" alt="{{ title }}">
    </picture>
{% endmacro %}

<article class="container">
    <div class="hero">
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut</h1>

        <a class="btn btn--primary" href="/signup">Get Started</a>
    </div>

    <section>
        <div class="block block--img-left">
            {{ blockImage("/images/blocks/shopping.png", "Screenshots of Kamfly's menu and online ordering system") }}
            <div class="block__content">
                <h2 class="block__title">Reach more customers online.</h2>
                <p class="block__body">From locally owned cafes to restaurants with multiple locations, we have tools to help anyone start accepting online orders. Create a digital menu for a touchless customer experience, and easily enable online ordering.</p>
                <a class="link block__link" href="/demo">See it in action</a>
            </div>
        </div>
    </section>

    <section>
        <div class="block block--img-right">
            {{ blockImage("/images/blocks/cms.png", "Screenshots of Kamfly's menu management system") }}
            <div class="block__content">
                <h2 class="block__title">Own your customer experience.</h2>
                <p class="block__body">Your brand should be front and center in every customer experience. Your food and service speak for themselves, don’t let that go to waste. You want customers returning to you for their next order, not an app with hundreds of other restaurants.</p>
                <a class="link block__link" href="/get-started">Find out how to get started</a>
            </div>
        </div>
    </section>

    <section>
        <div class="block block--img-left">
            {{ blockImage("/images/blocks/piggy-bank.png", "Pink piggy bank with coins in and around it") }}
            <div class="block__content">
                <h2 class="block__title">Protect your profits.</h2>
                <p class="block__body">Running a restaurant was hard enough before Covid-19, now is not the time to pay as much as 30% of total sales to sell online. Our mission is to empower restaurants to succeed in a changing world while keeping fees at a fraction of the competition.</p>
                <a class="link block__link" href="/pricing">See our pricing</a>
            </div>
        </div>
    </section>

    <section class="alt">
        <div class="block">
            <div class="block__content">
                <h2 class="block__title">Features to meet all of your needs.</h2>
                <p class="block__body">We offer an easy to use, complete solution for managing your restaurant’s menus and online ordering.</p>
            </div>
            <div class="features">
                <div class="features__item">
                    {{ "/assets/currencies.svg" | svgContents("feature__icon") | safe }}
                    <h3 class="feature__title">Multi-Currency & Localization</h3>
                </div>
                <div class="features__item">
                    {{ "/assets/group.svg" | svgContents("feature__icon") | safe }}
                    <h3 class="feature__title">Customer Dashboard</h3>
                </div>
                <div class="features__item">
                    {{ "/assets/clipboard.svg" | svgContents("feature__icon") | safe }}
                    <h3 class="feature__title">Menu Management</h3>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="block">
            <div class="block__content">
                <h2 class="block__title">Accept every kind of payment.</h2>
                <p class="block__body">We have partnered with Snipcart to offer a full e-commerce experience for your restaurant. Take payments online safely and securly with the most used payment services around the world.</p>
                <a class="link block__link" href="https://snipcart.com" target="_blank">Learn more about Snipcart.</a>
                <a class="link block__link" href="https://snipcart.com/list-ecommerce-payment-gateways" target="_blank">See payment processing options.</a>
            </div>
        </div>
    </section>

    <section class="alt">
        <div class="block">
            <div class="block__content">
                <h2 class="block__title">Kamfly Premium Plans.</h2>
                <p class="block__body">We offer fair, scalable pricing plans to fit your restaurant’s needs.</p>
            </div>

            <div class="pricing">
                <div class="pricing__plan">
                    <h3 class="plan__title">Standard</h3>
                    <p class="plan__price">
                        <strong>25</strong>
                        <span>/ month</span>
                        <br>
                        <em>per location</em>
                    </p>

                    <hr>

                    <ul class="plan__features">
                        <li class="plan__feature">Custom online menus</li>
                        <li class="plan__feature">QR codes for contactless menus</li>
                        <li class="plan__feature">Use your logos and accent color</li>
                        <li class="plan__feature">Admin site for updating your menus</li>
                        <li class="plan__feature">Unlimited number of locations</li>
                    </ul>

                    <a class="btn btn--hollow" href="/get-started?plan=standard">get started</a>
                </div>
                <div class="pricing__plan pricing__plan--highlighted">
                    <h3 class="plan__title">Pro</h3>
                    <p class="plan__price">
                        <strong>190</strong>
                        <span>/ month</span>
                        <br>
                        <em>per location</em>
                    </p>
                    <p>+</p>
                    <p class="plan__price">
                        <strong>2%</strong>
                        <span>/ transaction</span>
                        <br>
                        <em>+ Payment gateway fees</em>
                    </p>

                    <hr>

                    <ul class="plan__features">
                        <li class="plan__feature">
                            <strong>All Standard plan features</strong>
                        </li>
                        <li class="plan__feature">Online ordering via Snipcart</li>
                        <li class="plan__feature">Customer accounts</li>
                        <li class="plan__feature">Customer dashboard</li>
                        <li class="plan__feature">Online ordering analytics</li>
                    </ul>

                    <a class="btn btn--primary" href="/get-started?plan=standard">get started</a>
                </div>
                <div class="pricing__plan">
                    <h3 class="plan__title">Custom</h3>
                    <p class="plan__price">
                        <strong>ASK</strong>
                        <span>/ contact us</span>
                        <br>
                        <em>for details</em>
                    </p>

                    <hr>

                    <ul class="plan__features">
                        <li class="plan__feature">Integration with your point-of-sale system</li>
                        <li class="plan__feature">Build and design your custom site</li>
                        <li class="plan__feature">Online & social media marketing</li>
                        <li class="plan__feature">Search engine optimiation</li>
                    </ul>

                    <a class="btn btn--hollow" href="/get-started?plan=standard">get started</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section> <div class="block"> <div class="block__content"> <h2 class="block__title">Get insights from e-commerce experts.</h2> <p class="block__content">Join our email list to receive advice from other business owners, support articles, tips from industry experts, and more.</p> </div> <form name="mailinglist" method="POST" data-netlify="true"> <div class="form__input"> <label for="name">Your Name</label> <input id="name" name="name" type="text" required="required"> </div> <div class="form__input"> <label for="email">Your Email Address</label> <input id="email" name="email" type="text" required="required"> </div> <button type="submit" class="btn btn--primary">Sign Up</div> </form> </div> </section> -->
</article>