.hero {
    position: relative;
    width: 100%;
    background-color: var(--color-dark-700);
    color: var(--color-light-100);
    overflow: hidden;
    margin-bottom: 3rem;
    background-image: url(/hero-background.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
@media (orientation: portrait) {
    .hero {
        background-image: url(/hero-background-portrait.svg);
    }
}

.uiblock.hero__wrapper {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 10;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.hero__title {
    font-size: 1.875rem;
    line-height: 1.25;
}

.hero__subtitle {
    font-size: 1.125rem;
    margin-top: 1.5rem;
    font-family: var(--font-content);
}

.hero__cta {
    margin-top: 2rem;
}

@media (min-width: 640px) {
    .hero {
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    .hero {
        margin-bottom: 4rem;
    }

    .uiblock.hero__wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-bottom: 6rem;
        padding-top: 6rem;
    }

    .hero__content {
        grid-column: span 2 / span 2;
    }

    .hero__title {
        font-size: 2.25rem;
    }

    .hero__subtitle {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .hero {
        margin-bottom: 5rem;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__subtitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .hero {
        margin-bottom: 6rem;
    }
}