---
title: Home
permalink: /
hero:
  title: Optimize your online business and make more sales
  subtitle: We create scalable, search-optimized online experiences.  Your sales potential should never be limited by your website.
  cta:
    title: HOW WE CAN HELP
    url: /services
eleventyNavigation:
  key: Home
  order: 1
sitemap:
  priority: 1.0
---

{% import "macros/blocks.njk" as blocks %}

{% call blocks.imageBlock('Your website should never limit sales potential.', '', { src: '/uploads/blocks/website-design.jpg', alt: 'website design' }, undefined, false) %}
    <p>As an online business, your website is vital to your success.</p>
    <p>Your current site was easy to get started, but the frustrations are starting to pile up...</p>

    <ul>
    <li>
        <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
        Your online marketing campaign was a hit, until your website went down because it couldn't scale
    </li>
    <li>
        <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
        Your website feels slow to load and use, costing you customers and SEO potential
    </li>
    <li>
        <span>{{ '/static/icon-close.svg' | svgContents('uiblock__itemicon') | safe }}</span>
        Starting with a template got you up and running, but now you want to customize your website to stand out from the crowd
    </li>
    </ul>
{% endcall %}

{% call blocks.imageBlock('Your website should work for you.', '', { src: '/uploads/blocks/website-design-sketch.jpg', alt: 'website design sketch notebook' }, { href: '/services', text: 'SEE PACKAGES' }, true) %}
    <p>Our websites help online businesses get RESULTS.</p>
    <p>You've spent countless hours refining your target market and brand.  We're here to help you turn what you've learned into a custom website that won't crumble under your next viral campaign.</p>
    <p>Find out how we can work together.</p>
{% endcall %}

{% call blocks.imageBlock('I started Kamfly to help growing businesses thrive online.', 'HI, I\'M TONY', { src: '/uploads/blocks/tony.jpg', alt: 'Tony' }, { href: '/about', text: 'MORE ABOUT US' }, false) %}
    <p>After seeing countless startups with impressive ideas fail to scale, I knew I wanted to do something to help.  At Kamfly, we partner with online businesses who are ready to scale beyond the startup phase but unsure how to do it effectively.</p>
    <p>You’re passionate about your product, your customers, and your employees.  Let us be your partner and help you bring your vision to life.</p>
{% endcall %}