<div class="alert-banner">
    <strong class="alert-banner__title">COVID-19 Pricing</strong>
    <p>
        <span>We're waiving our monthly fee until things start picking back up.</span>
        <a class="link link--sm link--alt alert-banner__link" href="/pricing/#plans">Learn more</a>
    </p>
</div>