<footer class='footer'>
    <div class='footer__content'>
        {{ site.images.logo | svgContents('footer__logo') | safe }}

        <div class="footer__social">
            <a class="footer__sociallink" href="https://www.linkedin.com/company/kamfly/" target="_blank" rel="noopener">
                {{ "/assets/linkedin.svg" | svgContents('footer__socialicon') | safe }}
                <span class="sr-only">LinkedIn</span>
            </a>
            <a class="footer__sociallink" href="https://twitter.com/kamflyio" target="_blank" rel="noopener">
                {{ "/assets/twitter.svg" | svgContents('footer__socialicon') | safe }}
                <span class="sr-only">Twitter</span>
            </a>
        </div>

        <span>©{{ build.now | dateDisplay('yyyy') }}
            Navillus B.V.</span>

        <div class='footer__links'>
            <a class='footer__link' href="/privacy/">Privacy Policy</a>
            <a class="footer__link" href="/terms/">Terms & Conditions</a>
            <a class='footer__link' href="/contact/">Contact</a>
        </div>
    </div>
</footer>