<header role="banner" class="header">
    <nav role="navigation" class="header__nav">
        <div class="header__left">
            <a href="/" alt="{{ site.title }}">
                {{ site.images.logo | svgContents("header__logo") | safe }}
            </a>
        </div>
        <div class="header__middle">
            <ul class="header__navlist">
                <li class="header__navitem">
                    <a class="header__navlink" href="/how-it-works/">how it works</a>
                </li>
                <li class="header__navitem">
                    <a class="header__navlink" href="/pricing/">pricing</a>
                </li>
                <li class="header__navitem">
                    <a class="header__navlink" href="/contact/">contact</a>
                </li>
            </ul>
        </div>
        <div class="header__right">
            <a class="header__signup btn btn--primary btn--small" href="/get-started/">Sign Up</a>

            <button id="header-menu-toggle" aria-label="Open Menu" class="hamburger hamburger--squeeze header__hamburger">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </nav>

    <aside class="header__sidenav" id="header-mobile-menu">
        <ul class="header__navlist">
            <li class="header__navitem">
                <a class="header__navlink" href="/how-it-works">how it works</a>
            </li>
            <li class="header__navitem">
                <a class="header__navlink" href="/pricing">pricing</a>
            </li>
            <li class="header__navitem">
                <a class="header__navlink" href="/resources">resources</a>
            </li>
            <li class="header__navitem">
                <a class="header__navlink" href="/contact">contact</a>
            </li>
        </ul>

        <a class="header__cta btn btn--primary" href="{{ '/get-started' | url }}">Sign Up</a>
    </aside>
</header>