<script type="application/ld+json">
    [
        {
            "@context": "http:\/\/schema.org",
            "@type": "LocalBusiness",
            "logo": "https:\/\/kamfly.io\/logo.svg",
            "name": "Kamfly",
            "url": "https:\/\/kamfly.io",
            "image": "https:\/\/kamfly.io\/kamfly-share.png",
            "contactPoint": {
                "@type": "ContactPoint",
                "contactType": "Sales",
                "email": "info@kamfly.io"
            },
            "sameAs": ["https:\/\/www.facebook.com\/kamflyio", "https:\/\/www.linkedin.com\/company\/kamfly", "https:\/\/www.instagram.com\/kamfly.io", "https:\/\/twitter.com\/kamflyio"]
        }, {
            "@context": "http:\/\/schema.org",
            "@type": "Website",
            "name": "Kamfly",
            "url": "https:\/\/kamfly.io",
            "keywords": "Touchless menus, online ordering, restaurants, digital restaurant tools",
            "sameAs": ["https:\/\/www.facebook.com\/kamflyio", "https:\/\/www.linkedin.com\/company\/kamfly", "https:\/\/www.instagram.com\/kamfly.io", "https:\/\/twitter.com\/kamflyio"]
        }, {
            "@context": "http:\/\/schema.org",
            "@type": "Product",
            "name": "Kamfly",
            "description": "Add touchless e-menus and online ordering to your restaurant website in minutes. Keep control of your menu items, pricing, and your customer experience.",
            "image": ["https:\/\/kamfly.io\/images\/blocks\/cms-894w.png", "https:\/\/kamfly.io\/images\/blocks\/dashboard-894w.png"]
        }
    ]
</script>