<div class="pricing">
    <div class="pricing__plan pricing__plan--free">
        <h3 class="plan__title">Standard</h3>
        <p class="plan__price">
            <strong>
                <span>€</span>
                <span class="plan__priceamt strikethrough">25</span>
            </strong>
            <span>/ month</span>
            <br>
            <em>per location</em>
        </p>

        <hr>

        <ul class="plan__features">
            <li class="plan__feature">Custom online menus</li>
            <li class="plan__feature">QR codes for contactless menus</li>
            <li class="plan__feature">Use your logos and accent color</li>
            <li class="plan__feature">Admin site for DIY menu updates</li>
            <li class="plan__feature">Unlimited number of locations</li>
        </ul>

        <a class="btn btn--hollow" href="/get-started?plan=standard">get started</a>
    </div>
    <div class="pricing__plan pricing__plan--highlighted pricing__plan--free">
        <h3 class="plan__title">Pro</h3>
        <p class="plan__price">
            <strong>
                <span>€</span>
                <span class="plan__priceamt strikethrough">100</span>
            </strong>
            <span>/ month</span>
            <br>
            <em>per location</em>
        </p>
        <p>+</p>
        <p class="plan__price">
            <strong>
                <span class="plan__priceamt">2%</span>
            </strong>
            <span>/ transaction</span>
            <br>
            <em>+ Payment gateway fees</em>
        </p>

        <hr>

        <ul class="plan__features">
            <li class="plan__feature">
                <strong>All Standard plan features</strong>
            </li>
            <li class="plan__feature">Online ordering via Snipcart</li>
            <li class="plan__feature">Customer accounts</li>
            <li class="plan__feature">Customer dashboard</li>
            <li class="plan__feature">Online ordering analytics</li>
        </ul>

        <a class="btn btn--primary" href="/get-started?plan=pro">get started</a>
    </div>
    <div class="pricing__plan">
        <h3 class="plan__title">Custom</h3>
        <p class="plan__price">
            <strong>
                <span class="plan__priceamt">ASK</span>
            </strong>
            <span>/ contact us</span>
            <br>
            <em>for details</em>
        </p>

        <hr>

        <ul class="plan__features">
            <li class="plan__feature">Integration with your POS system</li>
            <li class="plan__feature">Build and design your custom site</li>
            <li class="plan__feature">Online & social media marketing</li>
            <li class="plan__feature">Search engine optimization</li>
        </ul>

        <a class="btn btn--hollow" href="/get-started?plan=custom">get started</a>
    </div>
</div>